name: Test

on:
  push:
    branches: [main]
    paths:
      - src/**
  pull_request:
    branches: [main]
    paths:
      - src/**
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on:
      # For a list of available runner types, refer to https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
      ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Install the .NET Core workload: https://github.com/actions/setup-dotnet
      - name: Install .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Execute unit tests
        run: |
          dotnet test ./src/DotVast.HashTool.WinUI.Core.Tests/DotVast.HashTool.WinUI.Core.Tests.csproj --configuration ${{ matrix.configuration }}
